@font-face {
    font-family: 'Tiempos Headline';
    src: url('./Tiempos Headline/TiemposHeadline-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Circular Std';
    src: url('./Circular Std/CircularStd-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}
